{% extends "layout.html" %}
{% block content %}

    <h1>Konten</h1>
    <table>
        <tr>
            <th>Kontonummer</th>
            <th>Kontoname</th>
            <th>Eröffnungsbilanz</th>
            <th>Monatsverkehrszahlen</th>
            <th>Jahresverkehrszahlen</th>
{#            <th>Mehrwertsteuerinfomation</th>#}
            <th>Adresse</th>
        </tr>

        {% for keys in data.values() %}
            <tr>
                {#    <h2>Buchungsnummer: {{ keys["Buchungsnummer"] }}</h2>#}
                {% for key, value in keys.items() %}
                    <td> {{ value }} </td>

                {% endfor %}
            </tr>
        {% endfor %}
    </table>

{% endblock content %}